<!-- SOCIALS -->

<ul>
    <li>
        <a 
            href="{{site.github_url}}" 
            target="_blank"
            rel="noreferrer noopener"
            class="social-icons menu-icon">
            <i class="fab fa-github"></i>
        </a>
    </li>
    <li>
        <a 
            href="{{site.linkedin_url}}" 
            target="_blank"
            rel="noreferrer noopener"
            class="social-icons menu-icon">
            <i class="fab fa-linkedin-in"></i>
        </a>
    </li>
    <li>
        <a 
            href="{{site.youtube_url}}" 
            target="_blank"
            rel="noreferrer noopener"
            class="social-icons menu-icon">
            <i class="fab fa-youtube"></i>
        </a>
    </li>
</ul>